.DS_Store
.*.jsx

# virtual env (As defined in package)
build-node-venv.sh
.venv/

npm-debug.log*
results.md

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

package-lock.json